body {
  width: 100%;
  background-color: #2aa8c0;
}
#top {
  background-image: url(../photos/cover.png);
  box-shadow: 10px 10px 50px burlywood;
  margin: auto;
  text-align: left;
  border-radius: 20px;
  width: 98%;
  position: relative;
  width: 100%;
}
section.fpage {
  font-family:popins, serif;
}

#border {
  width: 98%;
  background-color: #21dce1;
  border-radius: 18px;
  box-shadow: 7px 7px 7px black;
}

h1.name {
  text-align: left;
  text-shadow: 0 0;
  padding: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 5px 5px 100px rgba(62, 207, 98, 0.608);
  font-family: audiowide, serif;
  font-size: 50;
  color: black;
}
h1 {
  color: white;
  text-align: center;
  font-family: system-ui;
  text-shadow: 4px 2px 8px rgb(142, 67, 67);
}
p {
  font-size: 30;
  
}
#box {
  box-shadow: 6px 6px 8px rgba(54, 54, 68, 0.311);
  border-radius: 10px;
  padding: 3px;
  margin: auto;
  text-align: left;
  background-color: #c3ccd3;
  width: 93%;
}
#box:hover {
  box-shadow: 10px 10px 18px rgb(207, 155, 25);
}

#header {
  border: 10;
}
#border {
  background-color: #21dce1;
}
h1 {
  color: rgb(98, 228, 11);
  text-align: center;
  font-family: system-ui;
}
table.header {
  border: 0px;
}

#info {
  margin: auto;
  width: 100%;
  border-radius: 8px;
  font-size: 30;
  text-align: center;
}

li {
  font-family: tahoma;
}
#ullist {
  font-size: 30px;
  font-size: 35px;
}
.gap {
  padding-bottom: 10px;
}
#link{
  align-items: center;
  justify-content: center;
  margin: 15px auto auto auto;
  width:max-content;
  color:white;
  padding: 20px;
  font-family: aboreto,serif ;
  letter-spacing: 2px;
  border-top: 3px solid rgba(54, 54, 68, 0.311);
  /*border-left: 3px solid rgba(54, 54, 68, 0.311);*/
  text-decoration: none;
  border-radius: 10px;
  display:flex;
  flex-direction: column;
  text-transform: uppercase;
  border-radius: 40px;
  background: linear-gradient(90deg,#0162c8,#55e7fc);
}
#link:hover{
  opacity: 80%;
  box-shadow: 5px 5px 10px black;
}
.rare{
  display: flex;
  flex-direction:column;
}