body {
  width: 100%;
  background-color: #004643;
}
#top {
  background-image: url(../photos/cover.png);
  box-shadow: 10px 10px 50px black;
  margin: auto;
  text-align: left;
  border-radius: 20px;
  width: 95%;
  position: relative;
  width: 100%;
}
section.fpage {
  font-family:popins, serif;
  margin: 30px auto auto auto;
}

#border {
  width: 98%;
  background-color: #2cb67d;
  border-radius: 18px;
  box-shadow: 7px 7px 7px black;
}

h1.name {
  text-align: left;
  text-shadow: 0 0;
  padding: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 5px 5px 100px rgba(62, 207, 98, 0.608);
  font-family: audiowide, serif;
  font-size: 50;
  color: black;
}
h1 {
  color: white;
  text-align: center;
  font-family: system-ui;
  text-shadow: 4px 2px 8px #004643;
}
p {
  font-size: 30;
  
}
#box {
  box-shadow: 6px 6px 8px rgba(54, 54, 68, 0.311);
  border-radius: 10px;
  padding: 3px;
  margin: auto;
  text-align: left;
  background-color: #e8e4e6;
  width: 93%;
}
#box:hover {
  box-shadow: 10px 10px 18px #f9bc60;
}

#header {
  border: 10;
}
table.header {
  border: 0px;
}

#info {
  margin: auto;
  width: 100%;
  border-radius: 8px;
  font-size: 30;
  text-align: center;
}

li {
  font-family: tahoma;
}
#ullist {
  font-size: 30px;
  font-size: 35px;
}
.gap {
  padding-bottom: 10px;
}
#link,.btn{
  align-items: center;
  justify-content: center;
  margin: 15px auto 5px auto;
  width:max-content;
  color:white;
  box-shadow: 2px 2px 5px black;
  padding: 20px;
  font-family: aboreto,serif ;
  letter-spacing: 2px;
  border-top: 3px solid black;
  text-decoration: none;
  border-radius: 10px;
  display:flex;
  flex-direction: column;
  text-transform: uppercase;
  border-radius: 40px;
  background: linear-gradient(90deg,rgba(23, 20, 20, 0.778),#004643);
}
#link:hover{
  opacity: 80%;
  box-shadow: 5px 5px 10px black;
}
.btn:hover{
  opacity: 80%;
  box-shadow: 5px 5px 10px black;
}
.rare{
  display: flex;
  flex-direction:;
}
form{
  display: flex;
  flex-direction: column;
  margin: auto;
  text-transform: uppercase;
}